<h1 ng-bind="teacher.name"></h1>


<p>
  Din bedømmelse:
  <rating
    style="outline: none;"
    ng-click="addRating(score)"
    ng-model="score"
    max="maxScore"
    readonly="!isLoggedIn"
    on-hover="hoveringOver(value)"
    on-leave="overStar = null">
  </rating>

  <span ng-hide="overStar">{{score}}/{{maxScore}}</span>

  <span
    class="label"
    ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
    ng-show="overStar && !isLoggedIn">
      {{percent}}%
    </span>
</p>

<p>Bedømmelse: {{teacher.score | number: 1}}/<span ng-bind="maxScore"></span> fra {{teacher.ratings_count}} brugere</p>

